<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Phonegap simple VueJS</name>
    <description>
    </description>
    <author email="" href="">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <hook src="scripts/build.js" type="before_compile" />
    <hook src="scripts/build.js" type="before_serve" />
</widget>
